*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: 
        linear-gradient(0deg, rgba(55,33,18,.5) 100%, rgba(84,49,11,.6) 100%),
        url(Assets_BG_IMGS/SmokinJohns-Bg.jpg); 
    background-repeat: no-repeat center center fixed; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}