#logo-social {
    display: grid;  
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: 100px;
    width: 1400px;
    justify-items: center;
    background-image: url("Assets_BG_IMGS/header-bg.jpg");
    background-repeat: repeat-x;

}

.logo {
    grid-column-start: 1;
    grid-row-start: 1;

}

.rotated {
        -webkit-transform:rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg);
}

.fa {
    font-size: 50px;
    color: rgb(255, 183, 0);
    text-shadow: 2px 2px 4px #000000;
    grid-column-start: 5;
    grid-row-start: 2;
}

.foodtruck {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 10px;
    border: 2px solid black;
}

.slogan {
    font-family: "Rock Salt", cursive;
    font-size: 60px;
    font-style: italic;
    text-shadow: 2px 2px 4px #000000;
    color: rgb(255, 183, 0);
    /* color: white; */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    margin-top: -210px;
    margin-right: 260px;
    text-align: right;
    line-height: 80px;

}